
/* Accordin css */

.frequently_heading{
    margin-top: 30px;
    text-align: center;
    font-size: 27px;
    color: #1f1f1f;
   /* font-family: "Source Sans Pro",Arial,sans-serif;  */
    font-weight: 700;
  
  }
  
  .q_symbol{
    display: flex;
    gap: 20px;
    padding-top: 30px;
  }
  
  .main-div{
    margin: auto;
    margin-top: 30px;
   /* border: 2px solid red;  */
    width: 1000px;
   /* height: 400px; */
  }
  
  
  .main-heading{
  border: 1px solid  gray;
  border-radius: 5px;
  margin: 20px;
  height: 180px;
  padding-left: 30px;
  
  }
  
  .Q_heading{
    font-size:18px ;
    font-weight: 600;
   
  }
  .ans{
    font-size: 16px;
    margin-top: 20px;
    padding-left: 30px; 
  
  }
  